body {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110F41FF;
    overflow: inherit;
}
.wrapper {
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.field-size {
    outline: none;
    border: 4px solid grey;
    border-radius: 4px;
    font-size: 20px;
    max-width: 200px;
    background-color: #ffff00;
}

.field-size:focus {
    border: 4px solid rgba(100, 149, 237, 0.96);
    border-radius: 15px;
}

.start-button {
    font-size: 20px;
    background-color: #adff2f;
    color: #110F41FF;
    border: 4px solid grey;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
}

.game-field {
    display: flex;
}

.row {}

.cell {
    background-color: grey;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    font-size: 22px;
    color: darkblue;
    cursor: pointer;
}

.info-block {
    margin: 20px;
    color: #dee125;
    font-size: 24px;
    font-weight: 600;
}

.new-game {
    margin: 20px;
    cursor: pointer;
    background-color: #dee125;
    color: #110F41FF;
    border: 4px solid grey;
    border-radius: 15px;
    font-size: 20px;
}

#restart {
    position: absolute;
    top: 5%;
    left: 1%;
    cursor: pointer;
    background-color: #dee125;
    color: #110F41FF;
    border: 4px solid grey;
    border-radius: 15px;
}

.lose-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("img/patron_lose_600x600.jpg");
    background-position: center;
    z-index: 1;
    width: 600px;
    height: 600px;
}

.close-button {
    margin: 20px;
    cursor: pointer;
    background-color: #dee125;
    color: #110F41FF;
    border: 4px solid grey;
    border-radius: 15px;
    font-size: 10px;
}

.win-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("img/patron_win_600x600.jpg");
    background-position: center;
    z-index: 1;
    width: 600px;
    height: 600px;
}

.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    background-image: url("img/alert_300x300.png");
    background-position: center;
    background-size: auto;
    z-index: 1;
    width: 300px;
    height: 299px;
    border: 5px solid darkred;
    border-radius: 50%;
}