@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 63px;
    position: relative;
}

.logo-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #4BCAFF;
}

#btn {
    position: absolute;
    content: '';
    width: 100px;
    height: 40px;
    top: 100px;
    right: 0;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    border-color: #4BCAFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #485863;
    cursor: pointer;
}

.logo-link__span {
    color: #000000;
}

.header-menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #35444F;
    margin-top: 40px;
}

.header-menu__list-item {
    border-left: 1px solid #FFFFFF;
    max-width: 988px;
    align-self: stretch;
    display: flex;
}

.header-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 26px 40px 19px;
    align-self: center;
}

.item_4 {
    border-right: 1px solid #FFFFFF;;
}

.header-menu__list-item:hover {
    background: #222F3A;
}

.content {
    margin-top: 52px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.aside-menu {
    border: 1px solid #000000;
    max-width: 344px;
}

.aside-menu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.aside-menu__list-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 342px;
    padding: 1px;
}

.aside-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 27px 78px 27px 38px;
}

.aside-menu__list-item:hover {
    background: #DBDBDB;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-content__picture {
    max-width: 885px;
    border: 1px solid #000000;
}

.main-picture {
    align-self: center;
    padding: 75px 268px 73px 293px;
    transition: 1s;
}

.main-picture:hover {
    transform: scale(1.3);
}

.main-text {
    margin-top: 37px;
}

.main-text_first {
    max-width: 885px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main-text_second {
    max-width: 885px;
    margin-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-menu {
    margin-top: 54px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.footer-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 875px;
    margin: 20px 0 21px;
}

.footer-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 0 10px;
}

.footer-link:hover {
    color: #3181A6;
    text-decoration: underline;

}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}