body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-wrapper{
    width: 600px;
    margin: auto;
    border: 5px solid black;
    display: flex;
    overflow: hidden;
}

.slider-img{
    display: block;
    width: 600px;
    height: 450px;
}

.animation {
    animation-name: view-img;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes view-img {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 40%;
    }
    75% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

.btn{
    width: 38px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: rgba(128, 128, 128, 0.80);
}

.btn:hover svg{
    fill: #4BCAFF;
}